<div class="login-container">
  <div class="d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="d-flex justify-content-center mb-3">
        <h1 class="fw-bold" data-cy="loginTitle" jhiTranslate="login.title">Descoperă Moldova</h1>
      </div>
      <form (ngSubmit)="login()" [formGroup]="loginForm" class="form ps-2 pe-2" role="form">
        <div class="mb-3">
          <label class="username-label" for="username" jhiTranslate="global.form.username.label">Login</label>
          <input
            #username
            class="form-control"
            data-cy="username"
            formControlName="username"
            id="username"
            name="username"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            type="text"
          />
        </div>

        <div class="mb-3">
          <label for="password" jhiTranslate="login.form.password">Password</label>
          <input
            class="form-control"
            data-cy="password"
            formControlName="password"
            id="password"
            name="password"
            placeholder="{{ 'login.form.password.placeholder' | translate }}"
            type="password"
          />
        </div>
        <div class="w-100 mt-3">
          <button class="btn w-100 btn-primary submit-btn mt-3" data-cy="submit" type="submit">
            <span class="text-white" jhiTranslate="login.form.button">Autentificare</span>
          </button>
        </div>
      </form>
      <div class="mt-3 d-flex justify-content-center">
        <a class="text-decoration-none" data-cy="forgetYourPasswordSelector" jhiTranslate="login.password.forgot"
           routerLink="/account/reset/request"
        >Did you forget your password?</a>
      </div>

      <div class="mt-3 d-flex justify-content-center">
        <a class="text-decoration-none" jhiTranslate="global.messages.info.register.link" routerLink="/account/register">Register
          a new account</a>
      </div>
    </div>
  </div>
</div>
